{
  "development": {
    "username": "root",
    "password": null,
    "database": "",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "mymoney_test",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "logging": false
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "mymoney_production",
    "host": "127.0.0.1",
    "dialect": "postgresql"
  }
}
